@import url('https://fonts.googleapis.com/css2?family=Kantumruy&display=swap');
.infoBox {
 flex: 1;
 /* padding: 1px !important */
padding-bottom: 5px;
}

.infoBox:not(:last-child) {
 margin-right: 10px;
}

.infoBox--selected {
 border-top: 10px solid greenyellow;
}

.infoBox--red {
 border-color: #a70b99;
}

.infoBox__cases--green {
 color: lightgreen !important;
}

.infoBox__cases {
 color: #cc1034;
 font-weight: 600;
 font-size: 1.30rem;
 margin-bottom: 5px;

}

.infoBox__total {
 color: #6c757d;
 font-weight: 700 !important;
 font-size: 0.8rem !important;
 margin-top: 5px !important;
}

.infoBox_font {
 font-family: 'Kantumruy', sans-serif;
}
