.covid_tables {
  margin-top: 20px;
  overflow-y: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 400px;
}

.covid_tables .tr {
  display: flex;
  justify-content: space-between;
}

.covid_tables .td {
  padding: 0.5rem;
  border: none;
}

.covid_tables tr:nth-of-type(odd) {
  background-color: #0b4668cc;
  color: white;
}
.covid_tables tr:nth-of-type(even) {
  background-color: #9c0d50cc;
  color: white;
}
