.covid_tables {
  margin-top: 20px;
  /* overflow-y: scroll; */
  color: #6a5d5d;
  background-color: white;
  min-height: 250px;
}

.covid_tables .tr {
  display: flex;
  justify-content: space-between;
}

.covid_tables .td {
  padding: 0.5rem;
  border: none;
}

.covid_tables tr:nth-of-type(odd) {
  background-color: #fff;
  color: #000;
}
.covid_tables tr:nth-of-type(even) {
  background-color: #f1f6fa;
  color: #000;
}
