.App {
  /* text-align: center; */
}

h1, h2, h3, h4, h5, h6, p, span, input, li, th, td, button, div, label, title {
  font-family: khmerOsSiemReap;
}

.HeaderFont{
  font-family: khmerOsMuolLight;
  font-size: 9pt !important;
}
.HeaderFont1{
  font-family: tacteng;
  font-size: 9pt !important;
}
.HeaderStyle{
  text-align: justify !important;
}

.logo{
  width: 100%;
  padding: 10px 20%;
  cursor: pointer;
}

.dashboard-card-mid-text{
  font-size: 10pt;
  color: red
}

.dashboard-card-footer-text{
  font-size: 11pt;
}

.dashboard-card{
  margin: 5px;
  padding: 10px;
  border: 1px solid rgb(197, 197, 197);
  box-shadow: 2px 2px 5px rgb(187, 187, 187);
  border-radius: 8px;
  background-color: #FFF;
}

.inCol{
  padding: 5px;
  /* float: right; */
  
}

.inCol1{
  padding: 5px 0;
  /* background-color: #FFF; */
}

.link{
  cursor: pointer;
  color: green
}

.ant-list-split .ant-list-item{
  border-bottom: 1px solid #5555 !important;
}

.ant-list-split .ant-list-header{
  background-color:#ff4d4f;
  color: white;
  font-weight: bolder;
  font-size: 16pt;
  text-align: center;
  border-bottom: 1px solid #5555 !important;
}

.subCase-card{
  /* margin: 5px; */
  padding: 15px 15px 0 15px;
  background-color: #FFF;
  border: none;
  /* border-radius: 5px; */
  box-shadow: 2px 2px 30px rgb(187, 187, 187);
  /* border-radius: 8px; */
}

.subPeople-card{
  /* margin: 5px; */
  /* padding: 15px 15px 0 15px; */
  background-color: #FFF;
  border: none;
  box-shadow: 2px 2px 30px rgb(187, 187, 187);
  /* border-radius: 8px; */
}

.list{
  list-style: none;
}

.list li{
  margin: 10px 0;
}

.btnCamera{
  cursor: pointer;
  padding: 3px 7px 0px 7px;
  font-size: 14pt;
  border: 2px solid white;
  position: absolute;
  right: 2px;
  top: 2px;
  border-radius: 50px;
  color: black;
}

.btnCamera:hover{
  box-shadow: 0px 0px 5px white;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

/* login */
.login-form {
  border: 1px solid #000;
  /* min-width: 500px; */
  padding: 10%;
  box-shadow: 2px 8px 20px #CCC;
  border:none;
  margin:20px;
}

.login-input{
  box-shadow: 2px 8px 20px #CCC;
  border-radius: 2px;
  border:none;
  background-color: #FFF;
  padding: 15px;
}

.login-logo{
  width: 150px; 
  height: 150px;
  margin:20px auto;
  /* padding: 10px 20%; */
  border-radius: 100%;
  box-shadow: 2px 8px 20px #CCC;
}

.line-shape{
  border-bottom: 5px solid #707070;
  width: 80px;
  margin:20px 0px;
}